name: "Hame Relay"
version: "1.1.4-rc3"
slug: "hame_relay"
description: "Connect B2500 storage to Home Assistant while keeping mobile app functionality"
url: "https://github.com/tomquist/hame-relay"
image: "ghcr.io/tomquist/hame-relay-addon"
arch:
  - armv7
  - aarch64
  - amd64
init: false
startup: application
boot: auto
services:
  - mqtt:need
options:
  inverse_forwarding: false
  devices:
    - device_id: "24-digit-device-id"
      mac: "maccaddresswithoutcolons"
      type: "HMA-1"
schema:
  mqtt_uri: str?
  inverse_forwarding: bool?
  username: str?
  password: password?
  devices:
    - device_id: str
      mac: str
      type: str
      inverse_forwarding: bool?
