name: "Hame Relay"
version: "1.3.3"
slug: "hame_relay"
description: "Connect B2500 storage to Home Assistant while keeping mobile app functionality"
url: "https://github.com/tomquist/hame-relay"
image: "ghcr.io/tomquist/hame-relay-addon"
arch:
  - armv7
  - aarch64
  - amd64
init: false
startup: application
boot: auto
services:
  - mqtt:need
watchdog: "http://[HOST]:[PORT:8080]/health"
options:
  log_level: info
schema:
  mqtt_uri: str?
  inverse_forwarding: bool?
  default_broker_id: list(hame-2024|hame-2025)?
  log_level: list(trace|debug|info|warn|error|fatal)?
  username: str
  password: password
  inverse_forwarding_device_ids: str?
