name: "Hame Relay"
version: "next"
slug: "hame_relay"
description: "Connect B2500 storage to Home Assistant while keeping mobile app functionality"
url: "https://github.com/tomquist/hame-relay"
image: "ghcr.io/tomquist/hame-relay-addon"
arch:
  - armv7
  - aarch64
  - amd64
init: false
startup: application
boot: auto
services:
  - mqtt:need
watchdog: "http://[HOST]:[PORT:8080]/health"
options:
  inverse_forwarding: false
  default_broker_id: hame-2024
  log_level: info
  devices:
    - device_id: "24-digit-device-id"
      mac: "maccaddresswithoutcolons"
      type: "HMA-1"
      version: 0
schema:
  mqtt_uri: str?
  inverse_forwarding: bool?
  default_broker_id: list(hame-2024|hame-2025)?
  log_level: list(trace|debug|info|warn|error|fatal)?
  username: str?
  password: password?
  devices:
    - device_id: str
      mac: str
      type: str
      version: int?
      inverse_forwarding: bool?
